<?php

$databases = array();

{% if drupal_version|int >= 7 %}
$databases['default']['default'] = array(
   'driver' => 'mysql',
   'database' => '{{drupal_database_name}}',
   'username' => '{{drupal_database_user}}',
   'password' => '{{drupal_database_password}}',
   'host' => '127.0.0.1',
   'charset' => '{{ drupal_database_charset|default('utf8') }}',
   'collation' => '{{drupal_database_collation|default('utf8_general_ci')}}',
 );

{% if drupal_cron_key is defined %}
$conf['cron_key'] = '{{ drupal_cron_key }}';
{% endif %}

{% elif drupal_version|int < 7 %}
$db_url = 'mysqli://{{drupal_database_user}}:{{drupal_database_password}}@localhost/{{drupal_database_name}}';
$db_prefix = '{{drupal_database_prefix|default('')}}';
{% endif %}

$update_free_access = FALSE;

$drupal_hash_salt = '';

if (isset($_SERVER['HTTP_X_FORWARDED_PROTO']) &&
  $_SERVER['HTTP_X_FORWARDED_PROTO'] == 'https') {
  $_SERVER['HTTPS'] = 'on';
}

{% if drupal_base_url is defined %}
$protocol = (!empty($_SERVER['HTTPS'])) ? 'https' : 'http';
$base_url = $protocol . '://{{ drupal_base_url}}';
{% endif %}

ini_set('session.gc_probability', 1);
ini_set('session.gc_divisor', 100);

ini_set('session.gc_maxlifetime', 200000);

ini_set('session.cookie_lifetime', 2000000);

# ini_set('pcre.backtrack_limit', 200000);
# ini_set('pcre.recursion_limit', 200000);

# $cookie_domain = '.example.com';

# $conf['site_name'] = 'My Drupal site';
# $conf['theme_default'] = 'garland';
# $conf['anonymous'] = 'Visitor';

# $conf['maintenance_theme'] = 'bartik';

$conf['reverse_proxy'] = {{ "TRUE" if drupal_reverse_proxy_addresses is defined else "FALSE" }};

$conf['reverse_proxy_addresses'] = array('{{ "', '".join(drupal_reverse_proxy_addresses)}}');
$conf['https'] = TRUE;

# $conf['reverse_proxy_header'] = 'HTTP_X_CLUSTER_CLIENT_IP';

# $conf['omit_vary_cookie'] = TRUE;

# $conf['css_gzip_compression'] = FALSE;
# $conf['js_gzip_compression'] = FALSE;

# $conf['block_cache_bypass_node_grants'] = TRUE;

# $conf['locale_custom_strings_en'][''] = array(
#   'forum'      => 'Discussion board',
#   '@count min' => '@count minutes',
# );

# $conf['blocked_ips'] = array(
#   'a.b.c.d',
# );

$conf['404_fast_paths_exclude'] = '/\/(?:styles)|(?:system\/files)\//';
$conf['404_fast_paths'] = '/\.(?:txt|png|gif|jpe?g|css|js|ico|swf|flv|cgi|bat|pl|dll|exe|asp)$/i';
$conf['404_fast_html'] = '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><title>404 Not Found</title></head><body><h1>Not Found</h1><p>The requested URL "@path" was not found on this server.</p></body></html>';

# drupal_fast_404();

# $conf['proxy_server'] = '';
# $conf['proxy_port'] = 8080;
# $conf['proxy_username'] = '';
# $conf['proxy_password'] = '';
# $conf['proxy_user_agent'] = '';
# $conf['proxy_exceptions'] = array('127.0.0.1', 'localhost');

# $conf['allow_authorize_operations'] = FALSE;

# $conf['theme_debug'] = TRUE;

# $conf['allow_css_double_underscores'] = TRUE;


